@tailwind base;
@tailwind components;
@tailwind utilities;

/** ------------- Color Palette ------------- */

$background-primary: #010C15;
$background-secondary: #011627;
$border-primary: #1E2D3D;
$color-primary: #607B96;
$color-white: #FFFFFF;
$font-color-pre: #E5E9F0;
$font-color-comment: #607B96;

/** ------------- Default Image ------------- */

$image_logo: url('../../assets/images/logo_masmag.png');

/** ------------  Font ----------------- */

$font-fire: 'Fira Code', monospace;
$font-open: 'Open Sans', sans-serif;
$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-medium-l: 20px;
$font-title: 52px;
$height-normal: 450;


/** ------------- Default Primary Style - Mobile First ------------- */

body {
  font-family: $font-fire;
  font-style: normal;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  transition: all 0.25s;

  &-top, &-middle, &-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    background: $color-primary;
    transform: rotate(0);
    transition: all 0.5s;
  }

  &-top {
    transform: translateY(-7px);
  }

  &-middle {
    transform: translateY(0px);
  }

  &-bottom {
    transform: translateY(7px);
  }

  &.open {

    .hamburger-top {
      transform: rotate(45deg) translateY(0px) translate(0px);
    }

    .hamburger-middle {
      display: none;
    }

    .hamburger-bottom {
      transform: rotate(-45deg) translateY(0px) translate(0px);
    }
  }
}


/* -------------- Default ----------------- */
input[name="react-console-emulator__input"] {
  margin: 3px !important;
}

div[name="react-console-emulator"] {
  height: 100%;
}

.text {
  color: $font-color-pre;
  font-weight: 450;

  &--pre-title {
    font-size: $font-medium;
    line-height: 24px;
  }

  &--comment {
    font-size: $font-small;
    line-height: 140%;
    color: $font-color-comment;
  }
}


#menu {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: .8s;
  -webkit-transition: .8s;

  &.active {
    visibility: visible;
    height: 200px;
  }
}

.vector {
  position: absolute;
  width: 8.5px;
  height: 6px;
  left: 160px;
  top: 148.65px;

  background: #FFFFFF;
  transform: rotate(180deg);
}

.close-card {
  display: none;
}

.coding {
  &.fix-font {
    span, code {
      font-size: 11px !important;
    }
  }

  span {
    width: 100%;
    height: 100%;
    background: #011221 !important;
    margin-top: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .coding {
    code {
      font-size: 12px !important;
    }
  }
}



